
Flask==1.1.2
Flask-Cors==3.0.8
gast==0.3.3
importlib-metadata==1.6.0
jedi==0.17.0
Jinja2==2.11.2
Keras-Preprocessing==1.1.2
kiwisolver==1.2.0
lxml==4.6.2
Markdown==3.2.2
MarkupSafe==1.1.1
opt-einsum==3.2.1
tensorflow==2.2.0
tensorflow-estimator==2.2.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
threadpoolctl==2.0.0
tornado==6.0.4
traitlets==4.3.3
wcwidth==0.1.9
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wincertstore==0.2
